@import "./variables.scss";

.pulse-icon {
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, .25));
}

.pulse-ring {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top:  -16px;
  border: 2px solid $accent;
  border-radius: 50%;
  animation: pulse 1.8s ease-out infinite;
}

@keyframes pulse {
  0%   { transform: scale(.2); opacity: .9; }
  70%  { transform: scale(1.4); opacity: 0; }
  100% { transform: scale(.2); opacity: 0; }
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  background: $accent !important;
  border: 3px solid $white !important;
  color: $white !important;
  font-weight: 600;
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  background: $accent !important;
}

.marker-cluster-small span,
.marker-cluster-medium span,
.marker-cluster-large span {
  color: $white !important;
}

.reset-view-btn {
  font-family: $secondary_font;
  font-weight: 600;
  font-size: 18px;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 8px;
  background: $accent;
  color: $white;
  cursor: pointer !important;
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  transition: background .15s, transform .1s;

  &:hover     { background: $accent-light; }
  &:active    { transform: scale(.9); }
  &:focus { outline: none;}
}

.leaflet-control-zoom.leaflet-bar {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.leaflet-control-zoom a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;

  font-family: $secondary_font;
  font-size: 20px;
  font-weight: 600;
  color: $white !important;

  background: $accent !important;
  border-radius: 8px !important;
  border: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

  cursor: pointer !important;
  transition: background 0.15s, transform 0.1s;

  &:focus { outline: none;}
}

.leaflet-control-zoom a + a {
  margin-top: 6px;
}

.leaflet-control-zoom a:hover     { background: $accent-light !important; }
.leaflet-control-zoom a:active    { transform: scale(0.9) !important; }

.custom-marker .marker-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
