$primary_font: 'Barlow', sans-serif;
$secondary_font: "Inter", sans-serif;
$main_background: #e6f0ff;
$dark_blue: #173978;
$white: #ffffff;
$common_text: #6b7a99;
$grey_border: #ccccff;
$accent : #5ccaff;
$accent-light : #88d6ff;